# Postgres Database Settings
DB_USER=shellyuser
DB_PASSWORD=StrongPass1234
DB_NAME=shellydb
DB_HOST=postgres
DB_PORT=5432

# Timezone
TZ=Asia/Shanghai

# Proxy Settings (Fill your Clash Verge Desktop LAN IP)
# If you don't need proxy, comment these lines out
# ALL_PROXY=http://192.168.1.100:7890
# HTTP_PROXY=http://192.168.1.100:7890
# HTTPS_PROXY=http://192.168.1.100:7890
# NO_PROXY=127.0.0.1,localhost,mosquitto,postgres,192.168.0.0/16
